/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

$positive: #42c1c5 !default;

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "../www/lib/ionic/scss/ionic";
span {
  font-size: 18px;
  color: white;
}

.center-hh {
  margin: auto;
  min-width: 242px;
  width: 242px;
}

.center-remote {
  margin: auto;
  width: 202px;
  //max-width: 210px;
}

div.caleon-hh > .caleon-left {
  width: 114px;
  height: 30px;
  margin-right: 2px;
  margin-bottom: 16px;
}

div.caleon-hh > .caleon-right {
  width: 114px;
  height: 30px;
  margin-left: 2px;
  margin-bottom: 16px;
}

div.caleon-hh > div > span {
  margin-left: 40px;
  line-height: 30px;
}

div.caleon-heating {
  background-image: url(../img/remote/switch_heating.png);
  cursor: pointer;
}

div.caleon-cooling {
  background-image: url(../img/remote/switch_cooling.png);
  cursor: pointer;
}

div.caleon-holiday {
  background-image: url(../img/remote/holiday.png);
  cursor: pointer;
}

div.caleon-holiday_active {
  background-image: url(../img/remote/holiday_active.png);
  cursor: pointer;
}

div.caleon-left {
  float: left;
}

div.caleon-right {
  float: right;
}

.caleon-gray {
  color: #909CA8;
  font-size: 22px;
}

.caleon-button {
  height: 92px;
  width: 92px;
  margin: 2px;
}

div.caleon-off {
  background-image: url(../img/remote/off.png);
  cursor: pointer;
}

div.caleon-regular {
  background-image: url(../img/remote/regular.png);
  cursor: pointer;
}

div.caleon-eco {
  background-image: url(../img/remote/eco.png);
  cursor: pointer;
}

div.caleon-turbo {
  background-image: url(../img/remote/turbo.png);
  cursor: pointer;
}

div.humidity {
  position: absolute;
  margin: auto;
  background-image: url(../img/remote/Feuchtigkeit.png);
}

div.wc {
  position: absolute;
  margin: auto;
  background-image: url(../img/remote/icon_wc.png);
}

div.caleon-icon {
  width: 36px;
  height: 36px;
}

div.caleon-button-center {
  top: 175px;
  left: -webkit-calc(50% - 18px);
  left: -moz-calc(50% - 18px);
  left: calc(50% - 18px);
}

div.caleon-button-tl {
  left: 22px;
  top: 0px;
}

div.caleon-button-tr {
  left: 116px;
  top: 0px;
}

div.caleon-button-bl {
  left: 22px;
  top: 94px;
}

div.caleon-button-br {
  left: 116px;
  top: 94px;
}

div.caleon-button-tl > span {
  float: right;
  margin-right: 26px;
  margin-top: 62px;
  display: block;
}

div.caleon-button-tr > span {
  float: left;
  margin-left: 16px;
  margin-top: 62px;
  display: block;
}

div.caleon-button-bl > span {
  float: right;
  margin-right: 26px;
  margin-top: 47px;
  display: block;
}

div.caleon-button-br > span {
  float: left;
  margin-left: 16px;
  margin-top: 47px;
  display: block;
}
